@font-face {
    font-family: "DIN Pro";
    src: url(../fonts/DINPro_Light_300.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "DIN Pro";
    src: url(../fonts/DINPro_Regular_400.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "DIN Pro";
    src: url(../fonts/DINPro_Medium_500.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "DIN Pro";
    src: url(../fonts/DINPro_Bold_700.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "DIN Pro";
    src: url(../fonts/DINPro_Black_900.otf);
    font-style: normal;
    font-weight: 900;
}
