.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    @include media-breakpoint-up(xxl) {
        .logo {
            margin-right: 2.75rem;
        }
        .country {
            margin-left: 2.75rem;
        }
    }
    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid rgba(#fff, 0.15);
        &.is-sticky {
            position: fixed;
            background-color: rgba(#000, 0.85);
            animation: headerAnimation 0.5s;
        }
    }
    @include media-breakpoint-down(lg) {
        position: sticky;
        max-height: 70px;
    }

    .logo {
        width: 197px;
        flex-shrink: 0;
        .homelink {
            display: inline-block;
            max-width: 180px;
        }
        @include media-breakpoint-down(lg) {
            width: 146px;
        }
    }

    .country {
        width: 197px;
        flex-shrink: 0;
        ul {
            padding-left: 0;
        }
        li {
            align-content: center;
        }
    }

    .form-select {
        padding: 0 1.5rem 0 0.5rem;
        font-size: 0.875rem;
        border-radius: 0;
        border-color: rgba(#fff, 0.5);
        background-position: right 0.7rem center;
        background-size: 11px;
        background-color: rgba(#fff, 0.2);
        background-image: url(../images/arrow.svg);
        color: #fff;
        option {
            background-color: rgba(#000, 0.85);
        }
    }

    .navbar {
        .dropdown-toggle {
            &.navitem-link {
                @include media-breakpoint-up(lg) {
                    line-height: 98px;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 0;
                        height: 2px;
                        margin: auto;
                        display: block;
                        background-color: #fff;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                    &:hover {
                        color: $link-color;
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            @include media-breakpoint-down(lg) {
                height: calc(100dvh - 70px);
                overflow-y: auto;
            }
        }
    }
}

@keyframes headerAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*======= nav ======= */
.navbar {
    padding: 0 1.5rem;
    @media (width > 1920px) {
        max-width: 1920px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0;
        background-color: #000;
    }
    &-nav {
        flex-grow: 1;
        justify-content: space-around;
        @include media-breakpoint-up(xxl) {
            justify-content: space-between;
        }
        @include media-breakpoint-up(lg) {
            align-items: center;
        }
        @include media-breakpoint-down(lg) {
            padding: 0 10px;
        }
    }

    &-collapse {
        &.show::after,
        &.collapsing::after {
            content: "";
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #fff;
        }
    }

    .nav-item {
        position: relative;
        &:hover {
            .dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1) scale(1);
            }
        }
        .dropdown-menu {
            .navitem-link {
                margin-right: 30px;
                padding: 10px 0;
                display: block;
                color: #000;
                white-space: nowrap;
                background-position: -20px center;
                background-repeat: no-repeat;
                background-image: url("../images/nav_arrow.svg");
                transition: margin-right 0.4s ease, padding-left 0.4s ease,
                    background-position 0.4s ease;
                @include media-breakpoint-up(lg) {
                    &:hover {
                        margin-right: 0;
                        padding-left: 30px;
                        color: $link-color;
                        background-position: 0 center;
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            border-bottom: 1px solid #fff;
            .dropdown-menu {
                .navitem-link {
                    padding: 1rem;
                    font-size: 15px;
                }
            }
        }
    }

    .dropdown-menu {
        margin: 0;
        padding: 0;
        display: block;
        border: none;
        border-radius: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        @include media-breakpoint-up(lg) {
            padding: 0.5rem 1.5rem;
            border-radius: 0 0 5px 5px;
            background-color: #fff;
            visibility: hidden;
            transform: translateY(15px) scale(0.95);
        }
        @include media-breakpoint-down(lg) {
            max-height: 0;
            overflow: hidden;
            &.show {
                max-height: 500px;
                opacity: 1;
            }
        }
    }

    .dropdown-toggle {
        &::after {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            margin-left: 0.5rem;
            border: none;
            vertical-align: middle;
            // margin-left: 7px;
            // margin-top: 2px;
            // width: 11px;
            // background-image: url(../images/arrow.svg);
            // background-repeat: no-repeat;
            // border: none;
            // background-position: center;
            @include media-breakpoint-down(lg) {
                margin-left: auto;
            }
        }
    }

    .navitem-link {
        display: inline-flex;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        transition: all 0.4s ease;
        @include media-breakpoint-up(lg) {
            &:hover {
                color: $link-color;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 1.2rem 0;
            width: 100%;
            font-size: 17px;
        }
    }
}

/*======= nav toggler btn ======= */
.navbar-toggler {
    position: relative;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.navbar-toggler span,
.navbar-toggler span::before,
.navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
    transition: 0.4s ease;
}

.navbar-toggler:not(.collapsed) span {
    background: transparent;
}

.navbar-toggler:not(.collapsed) span,
.navbar-toggler:not(.collapsed) span::before,
.navbar-toggler:not(.collapsed) span::after {
    width: 30px;
}

.navbar-toggler span::before {
    margin-top: 0;
    left: 2%;
    transform: rotate(45deg);
}

.navbar-toggler span::after {
    margin-top: 0;
    left: 2%;
    transform: rotate(-45deg);
}

.navbar-toggler.collapsed span::before {
    margin-top: -10px;
    left: 50%;
    transform: rotate(0) translateX(-50%);
}

.navbar-toggler.collapsed span::after {
    margin-top: 10px;
    left: 50%;
    transform: rotate(0) translateX(-50%);
}

.navbar-toggler.collapsed {
    transform: rotateY(180deg);
    transition: 0.4s ease;
}
