.sec_1 {
    position: relative;
    height: 100dvh;
    overflow: hidden;
    .video {
        width: 100vw;
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
        &__cover {
            margin-left: -100%;
            height: 100%;
            min-height: calc(1920px * 0.5625);
            width: 300%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background-color: rgba(#000, 0.4);
        }
    }
    .infinity {
        position: absolute;
        left: calc(50% - 25px);
        bottom: 50px;
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .page-arrow {
        display: inline-block;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 35px;
        cursor: pointer;
        z-index: 5;
        span {
            display: inline-block;
            animation: 1s down infinite alternate;
            -webkit-animation: 1s down infinite alternate;
            width: 30px;
            height: 30px;
            background-image: url("../images/down_arrow.png");
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    @include media-breakpoint-down(lg) {
        display: none;
    }
    @media (width > 1920px) {
        height: calc(1920px * 0.5625);
    }
}

.sec_2 {
    position: relative;
    &.sec {
        overflow: visible;
    }
    .products__splide {
        position: initial;
    }
    @include media-breakpoint-up(lg) {
        .aos-animate {
            + .product-pagination {
                > li {
                    --move-distance: 50%; // 默认动画距离
                    animation: moveUp 0.7s forwards;
                    animation-delay: 1s;
                }
                @for $i from 1 through 7 {
                    > li:nth-child(#{$i}) {
                        animation-delay: #{($i) * 0.12}s;
                        .product-page {
                            background-image: url("../images/slick_btn0#{$i}.png");
                        }
                    }
                }
            }
        }

        .product-pagination {
            bottom: -10%;
            > li {
                transform: translateY(var(--move-distance));
                opacity: 0;
            }
            .product-page {
                margin: 0;
                padding: 0 3px;
                width: calc(6.3vw + 20px);
                height: 5.2vw;
                max-height: 100px;
                border-radius: 0;
                background-color: transparent;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                box-sizing: content-box;
                transform-origin: bottom;
                opacity: 1;
                &.is-active {
                    transform: scale(1);
                }
                &.prev,
                &.next {
                    transform: scale(1.08) translateY(-6px);
                    padding: 3px 6px;
                }
                &.focus {
                    transform: scale(1.17) translateY(-10px);
                    padding: 3px 12px;
                }
            }

            .splide__pagination__page {
                transition: transform 0.25s ease-in-out,
                    opacity 0.25s ease-in-out, padding 0.25s ease-in-out;
            }
        }
    }
}

.sec_3 {
    padding: 160px 0 108px;
    position: relative;
    overflow: hidden;

    .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        z-index: -1;
    }

    .btn {
        border: none;
        background-color: rgba(#d9d9d9, 0.6);
        font-size: 1.125rem;
        transition: background-color 0.25s ease-in-out;
        &:hover {
            background-color: rgba(#d9d9d9, 1);
        }
    }

    .yt {
        margin-bottom: 100px;
        .splide__video__play {
            width: 60px;
            height: 60px;
            background-color: rgba($primary, 1);
            border: #fff;
            &::after {
                border-width: 12px 0 12px 20px;
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .ig {
        padding-top: 1rem;
        justify-content: space-around;
    }
    .ig li {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .ig li > iframe {
        margin-top: -54px !important;
    }

    .splide {
        margin: 3rem 0;
    }

    @include media-breakpoint-up(lg) {
        .yt {
            .splide .splide__slide {
                &:not(.is-active) {
                    opacity: 0.7;
                    transform: scaleY(0.8);
                    background-size: 80% 133% !important;
                    .splide__video {
                        transform: scaleX(0.8);
                    }
                }
            }
        }
        .videos__splide {
            min-height: 33%;
        }
        .ig__splide {
            min-height: 540px;
        }
        .splide {
            margin: 3.5rem 0;
            .splide__track {
                overflow: visible;
            }
            .splide__slide {
                transition: transform 0.25s ease-in-out;
            }
            .splide__arrow {
                background-color: transparent;
                transition: transform 0.25s ease-in-out;
                img {
                    height: 32px;
                }
                &.splide__arrow--prev {
                    left: 14.5%;
                    transform: rotate(180deg);
                }
                &.splide__arrow--next {
                    right: 14.5%;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 3.75rem 0;

        .yt {
            margin-bottom: 3.75rem;
        }

        .splide__pagination {
            bottom: initial;
        }
    }

    @include media-breakpoint-down(md) {
        p {
            padding: 0 1.3125rem;
        }
    }
}

.sec_4 {
    .area__pic {
        img {
            @include media-breakpoint-down(xxl) {
                transform: translateX(-7%);
            }
            @include media-breakpoint-down(xl) {
                transform: translateX(0);
            }
        }
    }
    .area__main {
        margin-left: auto;
        align-items: flex-end;
        justify-content: end;
        &::after {
            right: 0;
            clip-path: polygon(var(--tilt-angle) 0, 100% 0, 100% 100%, 0 100%);
        }
    }
    .area__logos {
        margin-bottom: 60px;
        @include media-breakpoint-down(xxl) {
            margin-bottom: 30px;
        }
    }
}

.sec_5 {
    .area__pic {
        img {
            @include media-breakpoint-down(xxl) {
                transform: translateX(7%);
            }
            @include media-breakpoint-down(xl) {
                transform: translateX(0);
            }
        }
    }
    .sec__header {
        @include media-breakpoint-up(xl) {
            margin-bottom: 30px;
        }
    }
    .area__main {
        margin-right: auto;
        &::after {
            left: 0;
            clip-path: polygon(
                0 0,
                100% 0,
                var(--remaining-angle) 100%,
                0 100%
            );
        }
        @include media-breakpoint-up(xl) {
            order: 1;
        }
    }
    .area__logos {
        @include media-breakpoint-up(xl) {
            order: 2;
        }
        @include media-breakpoint-down(xxl) {
            li {
                margin-right: 30px;
            }
        }
        @media (min-width: 1200px) and (max-width: 1365.98px) {
            width: 460px;
            li {
                display: inline-block;
                margin-top: 0 !important;
                margin-bottom: 30px;
            }
        }
    }
}

.sec_4,
.sec_5 {
    --tilt-angle: 58%;
    --remaining-angle: calc(100% - var(--tilt-angle));
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(xl) {
        height: 41.66vw;
        max-height: 800px;
        display: flex;
    }
    @include media-breakpoint-down(xxl) {
        --tilt-angle: 44%;
    }
    @include media-breakpoint-down(xl) {
        --tilt-angle: 38%;
    }
    .area {
        &__pic {
            img {
                width: 101%;
            }
            @include media-breakpoint-up(xl) {
                position: absolute;
            }
        }
        &__main {
            position: relative;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-up(xxl) {
                padding: 75px;
            }
            @include media-breakpoint-up(xl) {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 120%;
                    background-color: #000;
                }
            }
            @include media-breakpoint-down(xxl) {
                padding: 3rem 2.75rem;
            }
            @include media-breakpoint-down(xl) {
                flex-direction: column-reverse;
                align-items: center;
                position: relative;
                background-color: #000;
            }
            @include media-breakpoint-down(md) {
                padding: 3.75rem 2.25rem;
            }
        }
        &__logos {
            li {
                width: 200px;
                & + li {
                    margin-top: 30px;
                }
            }
            @include media-breakpoint-down(xxl) {
                li {
                    width: 170px;
                }
            }
            @include media-breakpoint-down(xl) {
                margin-bottom: 0;
                margin-top: 46px;
                li {
                    margin-right: 0;
                }
            }
            @include media-breakpoint-down(md) {
                width: auto;
                flex-direction: column;
                li {
                    margin-right: 0;
                    width: 200px;
                    & + li {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .area__logos,
    .sec__header {
        position: relative;
        z-index: 1;
    }
    .sec__header {
        @include media-breakpoint-up(xl) {
            max-width: 540px;
        }
        @include media-breakpoint-down(xl) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &.aos-animate {
        .area__pic {
            animation: scaleUp 10s forwards;
        }
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes moveUp {
    from {
        transform: translateY(var(--move-distance));
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

:lang(ru) {
    .sec_5 {
        .sec__header {
            @include media-breakpoint-up(xl) {
                max-width: 580px;
            }
        }
        .area__logos {
            @include media-breakpoint-between(xl, xxl) {
                width: 460px;
                li {
                    display: inline-block;
                    margin-top: 0 !important;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .sec_4,
    .sec_5 {
        --tilt-angle: 52%;
        @include media-breakpoint-down(xxl) {
            --tilt-angle: 40%;
        }
        @include media-breakpoint-down(xl) {
            --tilt-angle: 38%;
        }
        .area__main {
            &::after {
                width: 125%;
            }
        }
    }
}
